$bgPrimary: #ecf0f1;
$bgSecondary: #bdc3c7;
$bgAlt: #7f8c8d;
$hoverItem: #1abc9c;
$darkText: #2c3e50;
$warning: #f1c40f;
$error: #c0392b;
$info: #3498db;

$loader_1: $error;
$loader_2: $hoverItem;
$loader_3: #9b59b6;